<div class="collapse show" id="collapseExample">
  <div class="btn-group-sm mb-2" role="group" aria-label="button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked
      (click)="changeLanguage()">
    <label class="btn btn-outline-success" for="btnradio1">ENGLISH</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" (click)="changeLanguage()">
    <label class="btn btn-outline-secondary" for="btnradio2">RUSSIAN</label>
  </div>

  <div class="card card-body text-wrap" *ngIf="language">
    <p class="text-center">
      Read the rules while you're waiting.
    </p>
    <p class="text-start">
      Glad to welcome you aboard the ship! Exciting, epic battles await us with opponents clicking faster than
      Thor's hammer flies! Friends, put on your battle blinders, grab your imaginary tridents, and prepare to
      plunge into a sea battle so fast that even the Smurfs will wish they were sea wolves!
    </p>
    <p class="text-start">
      1. Enter the duel: Before the game begins, choose a worthy opponent who can fight back with ease. Duels
      for
      inexperienced sailors are also welcome.
    </p>
    <p class="text-start">
      2. Flutter like a butterfly, pity like a wasp: Time is gold, and in our naval speed battle it turns into a
      boulder! Click on your opponent's field cells so fast that you'll become the epitome of lightning! Be like
      the stray winds that blow unpredictably at breakneck speed.
    </p>
    <p class="text-start">
      3. There is no time limit: You have endless opportunities to realize your dream of becoming an indomitable
      naval admiral. Click-click-click-click-click anywhere you want until you've sunk every enemy ship. Take a
      look at your officers, they are standing in line and eagerly waiting for their moment to show their
      amazing accuracy!
    </p>
    <p class="text-start">
      4. Be insightful: This game is not only about speed, but also about strategy. Feel the harmony between
      remarkable click speed and omniscient brains! Find unusual solutions to find the location of enemy ships,
      and make your clicks meaningful. But remember, time waits for those who don't think too long!
    </p>
    <p class="text-start">
      5. Your luck, your pocket: Fortune's favor depends on you! Make a click-click-click-click and pray that
      your
      torpedoes will wisely hit the enemy ships. But be careful, sea waves arise and carry away all the naughty
      ones. However, if Fortuna remains relentless and nerves are well pumped, victory will be as beautiful as a
      glint on the sunset waves.
    </p>
    <p class="text-start">
      So, friends, dare and show your sea combat skills at speed! Your cherished dream of becoming the fastest,
      bravest and luckiest sea wolf will sooner or later become a reality! Head into these waters with a sense
      of humor and a bit of sarcasm, and let your victory go down in legends!
    </p>
  </div>

  <div class="card card-body text-wrap" *ngIf="!language">
    <p class="text-center">
      Почитай правила пока ожидаешь.
    </p>
    <p class="text-start">
      Рад приветствовать на борту корабля! Нас ждут волнующие, эпические сражения с соперниками, кликнувших быстрее, чем
      летит молот Тора! Друзья, нацепите свои боевые шоры, возьмите свои воображаемые трезубцы и приготовьтесь окунуться
      в морскую битву такой скоростной, что даже смурфики пожелают стать морскими волками!
    </p>
    <p class="text-start">
      1. Вступайте в дуэль: Перед началом игры выберите достойного соперника, способного сопротивляться с легкостью.
      Дуэли для неопытных моряков также приветствуются.
    </p>
    <p class="text-start">
      2. Порхай как бабочка, жаль как оса: Время - это золото, а в нашем морском бою на скорость оно превращается в
      валун! Кликайте на клетки поля противника настолько быстро, что вы станете олицетворением молний! Будьте как
      шальные ветры, которые непредсказуемо дувают с бешенной скоростью.
    </p>
    <p class="text-start">
      3. Здесь нет срока давности: У вас бескрайние возможности реализовать свою мечту стать неукротимым адмиралом
      морского флота. Сделайте клик-клик-клик куда угодно, пока не потопите все корабли противника. Взгляните на своих
      офицеров, они стоят в очереди и с нетерпением ждут своего момента, чтобы показать свою удивительную точность!
    </p>
    <p class="text-start">
      4. Будьте проницательными: Эта игра - это не только о скорости, но и о стратегии. Почувствуйте гармонию между
      замечательной скоростью кликов и всеведущими мозгами! Найдите необычные решения для поиска расположения кораблей
      противника, и сделайте свои клики осмысленными. Но помните, время ожидает тех, кто не думает слишком долго!
    </p>
    <p class="text-start">
      5. Ваша удача, ваш карман: Благосклонность Fortun-ы зависит от вас! Сделайте клик-клик и молитесь, чтобы ваши
      торпеды мудрым образом попали в корабли противника. Но будьте осторожны, морские волны возникают и уносят всех
      непослушных. Однако, если Fortuna осталась неумолимой и нервы хорошо прокачивались, победа будет красивой, словно
      блеск на волнах заката.
    </p>
    <p class="text-start">
      Так что, друзья, дерзайте и покажите свои навыки морского боя на скорость! Ваша заветная мечта стать самым
      быстрым, смелым и удачливым морским волком рано или поздно станет реальностью! Устремитесь в эти воды с чувством
      юмора и немного сарказма, и пусть ваше победа войдет в легенды!
    </p>
  </div>
</div>
