@import 'ngx-toastr/toastr';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.5s ease;
}

body {
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  display: none;
}
